@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

h1 
{
	margin: 7px;
}

a 
{
	color: #9a9393;
	font-size: 14px;
	text-decoration: none;
    transition: all 0.5s;

}

a:hover
{
    color: #7f7575;
}

p 
{
	font-size: 13px;
	line-height: 17px;
	letter-spacing: 1px;
}

button 
{
	background-color: #2bff67;
	border: 1px solid #2bff67;
	border-radius: 20px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 12px 45px;
	margin-top: 20px;
	cursor: pointer;
}

button:hover
{
	border: 1.3px solid #e3fdee;
	padding: 10px 35px;
	transition: all 0.6s ease-in-out;
}

.ghost 
{
	background-color: transparent;
	border-color: #eaeaea;
	margin-top: 0px;
}

.ghost:hover 
{
	background-color: transparent;
	border-color: #d0f9bd;
	padding: 12px 45px;
	transition: all 0s;
}

form 
{
	background-color: #c2c2c2;
	padding: 0 50px;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}

.inputd 
{
	background-color: #686161;
	color: #fffbfb;
	border: none;
	padding: 8px;
	margin: 8px;
	width: 244px;
}

.container-lo
{
	background-color: #eaeaea;
  	box-shadow: 0 14px 28px rgba(45, 45, 45, 0.171), 0 10px 10px rgba(39, 38, 38, 0.24);
	position: relative;
	top: 100px;
	left: 250px;
	width: 768px;
	height: 480px;
    border-radius: 10px;
	text-align: center;
    margin-bottom: 150px;
}

.form-container 
{
	position: absolute;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container 
{
	z-index: 2;
}

.container-lo.right-panel-active .sign-in-container 
{
	transform: translateX(100%);
}

.sign-up-container 
{
	width: 50%;
	z-index: 1;
}

.container-lo.right-panel-active .sign-up-container 
{
	transform: translateX(100%);
	z-index: 5;
}

.overlay-container 
{
	position: absolute;
	z-index: 7;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
}

.container-lo.right-panel-active .overlay-container
{
	transform: translateX(-100%);
}

.overlay 
{
	background: linear-gradient(to right, #6edb99, #79db6e);
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transition: transform 0.6s ease-in-out;
}

.container-lo.right-panel-active .overlay 
{
  	transform: translateX(50%);
}

.overlay-panel 
{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	height: 100%;
	width: 50%;
	transition: transform 0.6s ease-in-out;
}

.overlay-left
{
	transform: translateX(-20%);
}

.container-lo.right-panel-active .overlay-left 
{
	transform: translateX(0);
}

.overlay-right 
{
	right: 0;
	transform: translateX(0);
}

.container-lo.right-panel-active .overlay-right 
{
	transform: translateX(20%);
}

.input__wrapper 
{
    position: relative;
}

.input__field 
{
	background-color: #3a3a3a;
	border: none;
	margin: 8px;
	width: 244px;
}

.input__icon 
{
    position: absolute;
    bottom: -1px;
    right: -0.100rem;
    width: 1.625rem;
    padding: 0.125rem;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.input__icon:hover 
{
    border-radius: 50%;
    background: #363434;
}

.password-strength 
{
    margin-top: 5px;
    width: 243px;
    height: 270px;
}

.password-strength-items 
{
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.password-strength-items li 
{
    display: flex;
    align-items: center;
    gap: 3px;
}

.progress 
{
    background: #f1f1f1;
    border-radius: 10px;
    height: 3px;
    width: 100%;
}

.progress-bar 
{
    border-radius: 10px;
    height: 3px;
}

.progress-bar-danger 
{
    background: #e90f10;
}

.progress-bar-advance
{
    background: #ff8000;
}

.progress-bar-warning
{
    background: #ffad00;
}

.progress-bar-success
{
    background: #02b502;
}

img
{
	padding-top: 5px;
}